---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="HOHOHOH HAPPYMERRYY!!!">
	<div class="card-wrapper">
		<Card number="1" />
		<Card number="2" />
		<Card number="3" />
		<Card number="4" />
		<Card number="5" />
		<Card number="6" />
		<Card number="7" />
		<Card number="8" />
		<Card number="9" />
		<Card number="10" />
		<Card number="11" />
		<Card number="12" />
		<Card number="13" />
		<Card number="14" />
		<Card number="15" />
		<Card number="16" />
		<Card number="17" />
		<Card number="18" />
		<Card number="19" />
		<Card number="20" />
		<Card number="21" />
		<Card number="22" />
		<Card number="23" />
		<Card number="24" />
	</div>
</Layout>

<style>
	.card-wrapper {
		position: relative;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(max(180px, calc(15% - 20px)), 1fr));
		gap: 20px;
		padding: 40px;
		border-radius: 4px;
		background-image: url(./images/cat_bg.jpg);
		width: 100%;
		max-width: min( 1200px ,80vw);
	}

	.card-wrapper:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.15);
	}
</style>
